body {
    background: rgb(237, 237, 250) !important;
    font-family: verdana, helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

div#container {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


div#pageHeader {
    background-image: url(cr7.jfif);
    background-size: auto 100%;
    height: 300px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    position: relative;
}

div#pageHeader h1 {
    text-align: right;
    padding-top: 3%;
    color: rgb(14, 9, 9);
}

div#pageHeader h2 {
    text-align: right;
    color: rgb(7, 4, 4);
}

div#supportingText {
    width: 870px;
    padding-right: 30px;
    float: left;
    display: inline;
}

div#linkList{    
    width: 234px;
    padding-left: 26px;
    float: right;
    display: inline;
    margin-top: 5%;
}

h3 {
    color: #0c0a0a;
    font-size: 27px;
}


p.p1 {
    font-size: 14px;
    color: rgb(7, 5, 5);
    font-weight: 600;
}

div#lselect li {
    border-bottom: 2px dashed #fff;
    margin-top: 5%;
}

::marker {
    color: rgb(10, 8, 8);
}

a {
    text-decoration: none;
    color: rgb(19, 15, 15);
    font-weight: 700;

}